name: pre-commit

on:
  pull_request:
  push:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: actions/setup-python@v4.6.0
        with:
          python-version: "3.10.11"
      - uses: pre-commit/action@v3.0.0
